@use "./typography" as *;

$tablet-width: 768px;
$desktop-width: 1280px;

$primary-color: #8AC926;

$primary-light: #EBEDEF;
$primary-lighter: #F2F3F5;

$title-font: "Lexend", sans-serif;
$content-font: "Josefin Sans", sans-serif;