@use "./typography" as *;

$tablet-width: 768px;
$desktop-width: 1280px;

$primary-color: #8AC926;

$primary-light: #E3E5E8;
$primary-lighter: #EBEDEF;

$title-font: "Josefin Sans", sans-serif;
$content-font: "Lexend", sans-serif;

$secondary-color: #FFCA3A;
$secondary-light: #EBEDEF;
$secondary-lighter: #F7F7F7;