@use "../../styles/partials/_variables.scss" as *;

.channel {
    width: 15rem;
    height: 100%;
    background-color: #F7F7F7;

    &__head {
        display: flex;
        height: 3rem;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom: 2px $primary-light solid;
        padding: 0 0.8rem;
        align-items: center;
    }

    &__welcome {
        font-size: 1rem;
    }

    &__share {
        width: 1.3rem;
        height: 1.3rem;
        background-image: url("../../assets/share.svg");
        background-repeat: no-repeat;
        background-size: 1.3rem;
        background-position: center;
        cursor: pointer;

        &--tooltip {
            background-color: $secondary-color;
            margin: 0.6rem 0 0 1rem;
            box-sizing: border-box;
            border-radius: 20px;
            padding: 0.3rem 0.7rem;
            position: fixed;
        }
    }

    &__voice {
        background-color: slateblue;
    }
}