@use "../../styles/partials/_reset.scss" as *;
@use "../../styles/partials/_typography.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.main {
    background-color: $primary-lighter;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    &__about {
        align-self: flex-end;
        height: 3rem;
        padding: 1rem 1rem 0 0;

        @include tablet {
            height: 4rem;
            padding: 1.5rem 1.5rem 0 0;

        }
    }
}

.box {
    display: flex;
    width: 89%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 3rem 0.7rem;
    margin: auto;
    margin-top: 28vh;

    @include tablet {
        padding: 5rem 4rem;
        max-width: 50rem;
        margin-top: 20vh;
    }

    &__title {
        font-size: 1.8rem;
        line-height: 1.5rem;
        font-weight: 700;
        text-align: center;
        text-shadow: 0.8px 1.5px $secondary-color;

        @include tablet {
            font-size: 2.3rem;
            line-height: 2.3rem
        }

        &:last-child {
            display: none;

            @include tablet {
                margin-top: 0.3rem;
                display: block
            }
        }
    }

    &__btn {
        @include roomBtn;
        align-self: center;
    }
}

.direct {
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
    padding: 0 0.5rem 0.4rem 0;
    align-items: center;
    box-sizing: border-box;
    animation: heartBeat;
    animation-duration: 1.5s;
    overflow: hidden;

    @include tablet {
        align-items: baseline;
        align-self: baseline;
        padding: 0 0 3.8rem 1.3rem;
    }

    &__icon {
        transform: rotate(270deg);
        max-width: 3rem;

        @include tablet {
            transform: none;
        }
    }

    &__text {
        font-size: 0.7rem;

        @include tablet {
            display: block;
            font-size: 1rem;
        }
    }
}