@use "../../styles/partials/_reset.scss" as *;
@use "../../styles/partials/_typography.scss" as *;
@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.room {
    background-color: $primary-lighter;
    width: 100vw;
    display: flex;
}