@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.control {
    position: fixed;
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include tablet {
        flex-direction: row;
        gap: 3rem;
        bottom: 1.5rem;
        height: 1.5rem;
    }

    &__wrap {
        display: flex;
        justify-content: center;

        @include tablet {
            justify-content: space-around;
        }
    }

    &__mic {
        width: 1.2rem;
        height: 2rem;
        filter: drop-shadow(0 0 0.3rem $secondary-color);
        background-image: url("../../assets/mic.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include tablet {
            width: 1.5rem;
        }

        &--off {
            @extend .control__mic;
            background-image: url("../../assets/micOff.svg");
            filter: drop-shadow(0 0 0.3rem #FF595E);
        }
    }

    &__headset {
        @extend .control__mic;
        background-image: url("../../assets/headset.svg");
    }

}